<a href="{{ path('showcategory', {'id' : contact.category.id}) }}"
        class="badge nav-link
        {% if(contact.category.name == 'Professionnel') %}
            bg-success
        {% elseif(contact.category.name == 'Sport') %}
            bg-warning nav-link
        {% else %}
           bg-danger nav-link
        {% endif %}"
>
    {{ contact.category.name }}
</a>