<div class="row">
    {% for contact in contacts %}
    <div class="col-md-3 g-5">
        <div clas="card mb-3" style="max-width: 300px">
            <img src="{{ contact.image }}" alt="{{ contact.name }}" class="d-block" width="100%" height="200">
            <div class="card-body my-2">
                <h3 class="card-header fw-bold h5">{{ contact.name }}</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body mt-2">
                <a href="#" class="btn btn-outline-primary btn-sm">voir plus de details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>